<!-- <p>create-student works!</p> -->

<h2>{{studentId ? 'Edit': 'Create'}} Student</h2>
<form [formGroup]="studentForm" novalidate>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="img" class="form-label">Image Url</label>
                <input type="text" class="form-control" formControlName="img"
                    [ngClass]="{'is-invalid': studentForm.get('img')?.invalid && studentForm.get('img')?.touched}"
                    id="img" placeholder="Enter image url">
                <div class="invalid-feedback d-block"
                    *ngIf="studentForm.get('img')?.invalid && studentForm.get('img')?.touched">
                    <div *ngIf="studentForm.get('img')?.errors?.['required']">This field is required</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': studentForm.get('name')?.invalid && studentForm.get('name')?.touched}"
                    formControlName="name" id="name" placeholder="Enter name">
                <div class="invalid-feedback d-block"
                    *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched">
                    <div *ngIf="studentForm.get('name')?.errors?.['required']">This field is required</div>
                    <div *ngIf="studentForm.get('name')?.errors?.['minlength']">Minimum 2 char required</div>
                    <div *ngIf="studentForm.get('name')?.errors?.['pattern'] 
                        && !studentForm.get('name')?.errors?.['minlength']">Numbers are not allowed</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" formControlName="age"
                    [ngClass]="{'is-invalid': studentForm.get('age')?.invalid && studentForm.get('age')?.touched}"
                    class="form-control" id="age" placeholder="Enter Age">
                <div class="invalid-feedback d-block"
                    *ngIf="studentForm.get('age')?.invalid && studentForm.get('age')?.touched">
                    <div *ngIf="studentForm.get('age')?.errors?.['required']">This field is required</div>
                    <div *ngIf="studentForm.get('age')?.errors?.['min']">Age shout be greater than 18.</div>
                    <div *ngIf="studentForm.get('age')?.errors?.['max']">Age shout not be greater than 36.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="img" formControlName="email"
                    [ngClass]="{'is-invalid': studentForm.get('email')?.invalid && studentForm.get('email')?.touched}"
                    placeholder="Enter Email">
                <div class="invalid-feedback d-block"
                    *ngIf="studentForm.get('email')?.invalid && studentForm.get('email')?.touched">
                    <div *ngIf="studentForm.get('email')?.errors?.['required']">This field is required</div>
                    <div *ngIf="studentForm.get('email')?.errors?.['email']">Wrong email entered.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="text" class="form-control" id="number" formControlName="number"
                    [ngClass]="{'is-invalid': studentForm.get('number')?.invalid && studentForm.get('number')?.touched}"
                    placeholder="Enter number">
                <div class="invalid-feedback d-block"
                    *ngIf="studentForm.get('number')?.invalid && studentForm.get('number')?.touched">
<div *ngIf="studentForm.get('number')?.errors?.['required']">This field is required</div>
                    <div *ngIf="studentForm.get('number')?.errors?.['pattern']">Wrong number entered.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary me-2" (click)="saveStudent()" [disabled]="studentForm.invalid">Save</button>
            <button class="btn btn-secondary" (click)="goTo()">Cancel</button>
        </div>
    </div>
</form>
