<!-- <p>student-list works!</p> -->
<div class="d-flex mb-3">
    <h1>Student-List </h1>
    <button class="btn btn-primary ms-2" (click)="goTo()">New</button>
</div>
<div class="row">
    <!-- <div class="col-3">
        <app-student-item></app-student-item>
    </div>

    <div class="col-3">
        <app-student-item></app-student-item>
    </div>

    <div class="col-3">
        <app-student-item></app-student-item>
    </div>

    <div class="col-3">
        <app-student-item></app-student-item>
    </div>

    <div class="col-3">
        <app-student-item></app-student-item>
    </div> -->

    <div class="col-3 mb-3" *ngFor="let std of students">
        <app-student-item [student]="std" (onDelete)="onDelete($event)" ></app-student-item>
    </div>
    <!-- mb - margin bottom -->
</div>
